.logIn {
    margin-top: 50px;
}
.form-inner {
    font-family: 'AlphaFridgeMagnets';
    font-size: 25px;
    margin: 10px;
    color:white;
}

.logInTitle {
    font-family: 'AlphaFridgeMagnets';
    font-size: 50px;
    margin-bottom: 20px;
    color:white;
}

.username {
    color: white;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

.usernameTitle {
    margin-bottom: 10px;
}

.email{
    color: white;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

.emailTitle {
    margin-bottom: 10px;
}

.password{
    color: white;
    display:flex;
    flex-direction: column;
    padding: 10px;
}


.passwordTitle {
    margin-bottom: 10px;
}

.logInButton {
    color: white;
}

.logInButton:hover {
    color: black;
}



