.ingredientsHeading {
    color: blue;
    /* text-align: center;
    font-family: Helvetica-Neue, Arial, sans-serif;
    font-size: 45px;
    font-weight: 100;
    margin-top: 170px;
    margin-bottom: 0 !important; */
    
}