@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.ingredientsHeading {
    color: blue;
    /* text-align: center;
    font-family: Helvetica-Neue, Arial, sans-serif;
    font-size: 45px;
    font-weight: 100;
    margin-top: 170px;
    margin-bottom: 0 !important; */
    
}

body {
    background-color: #e9e6dd;
}

.iphoneContainer {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}
.iphoneBackground  {
    width: 390px;
    height: 844px;
    background-color: #6171b7;
    border-radius: 20px;
 
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content:center;
    
  }

  /* Registration page */
  .registrationForm {
    width: 85%;
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 2rem;
  }

  .registrationLabel {
    font-family: 'Varela Round', sans-serif;
    color: #e9e6dd;
    font-size: 1.5rem;
  }

  .registrationtextInputField {
    height: 3rem;
    border-radius: 8px;
    border:none;  
    margin: .2rem;
    font-family: 'Varela Round', sans-serif;
  } 

  .passwordSettingBar{
    margin:auto;
  }

  .registrationButton {
    padding:1.5rem;
    border-radius: 8px;
    border:none;
    margin: 2rem;
  }

  .registrationButton:hover{
    cursor: pointer;
  }

  .fridgeTitle {
    width: 400px;
    height: 75px;
    margin: 15px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #e9e6dd;
    
    
   
  }

  .logOutButton {
    margin-bottom:20px;
    width: 150px;
    height: 40px;
    background-color:  #47579d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'AlphaFridgeMagnets';
    font-size: 25px;

  }

  .logOutButton{
    cursor: pointer;
  }
  .formInput{
    width: 85%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:50% 15% 25% 10%; 
    margin-bottom: 2rem;
  }

  .textInputField {
    height: 3rem;
    border-radius: 8px;
    border:none;  
    margin: .2rem;
    font-family: 'Varela Round', sans-serif;
  }

  .quantityOption {
    height: 3rem;
    border-radius: 8px;
    border:none;  
    margin: .2rem;
    font-family: 'Varela Round', sans-serif;
  }
  .datePicker{
    height: 3rem;
    border-radius: 8px;
    border:none;  
    margin: .2rem;
    font-family: 'Varela Round', sans-serif;
  }

  .addButton {
    width: 3rem;
    height: 3rem;
    background-color: #93c572;
    border-radius: 10px;
    text-align: center;
    /* display:flex; */
    /* align-items: center;
    justify-content: center; */
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    font-weight:500;
    margin: .2rem;
    color: white;
    border:none;
  }

  .addButton:hover{
    cursor: pointer;
  }

  .shelfOne {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  
   
  }
  .carrot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;

  }

  .cheese {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;
  }

  .milk {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 50px;
    width: 50px;
    object-fit: contain;
   
  }


  .shelfTwo {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  .broccoli {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;

  }

  .orangeJuice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 40px;
  }

  .tomato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 50px;
    width: 70px;
    object-fit: contain;
   
  }

  .shelfThree {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
  }

  .shelfFour {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
  }

  .bottomMenu {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin: 2rem;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  }

  .homeButton {
    width: 70px;
    height: 70px;
    background-color: #47579d;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-size: 35px;

  }
  .recipeButton {
    width: 70px;
    height: 70px;
    background-color:  #47579d;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-size: 35px;
   
  }
  .profileButton {
    width: 70px;
    height: 70px;
    background-color:  #47579d;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-size: 35px;
 
  }