@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette');


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('../Home/images/background.jpg');
}

.fridgeItemBackground {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content:center;
  background-color: #6171b7;
  border-radius: 20px;
  outline: 10px solid #5867a8;
  width: 390px;
  height: 844px;
  justify-content: space-around;

}

  .registrationForm {
    width: 85%;
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 2rem;
  }

  .registrationLabel {
    font-family: 'Varela Round', sans-serif;
    color: #e9e6dd;
    font-size: 1.5rem;
  }

  .registrationtextInputField {
    height: 3rem;
    border-radius: 8px;
    border:none;  
    margin: .2rem;
    font-family: 'Varela Round', sans-serif;
  } 

  .passwordSettingBar{
    margin:auto;
  }

  .registrationButton {
    padding:1.5rem;
    border-radius: 8px;
    border:none;
    margin: 2rem;
  }

  .registrationButton:hover{
    cursor: pointer;
  }

  .fridgeTitleItems {
    height: 75px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #e9e6dd;
  }

  .formInput{
    width: 95%;
    display: grid;
    justify-content: stretch;
    grid-template-rows: auto;
    grid-template-columns:50% 15% 25% 10%; 
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .noItemsMessage {
    font-family: 'Varela Round', sans-serif; /* Replace 'Your Desired Font' with your preferred font family */
    font-size: 16px; /* Adjust the font size as needed */
    color: #555; /* Adjust the text color as needed */
    /* Add any additional styles you want */
  }

  .textInputField {
    height: 3rem;
    border-radius: 8px;
    border:none;  
    margin: .2rem;
    font-family: 'Varela Round', sans-serif;
  }

  .quantityOption {
    height: 3rem;
    border-radius: 8px;
    border:none;  
    margin: .2rem;
    font-family: 'Varela Round', sans-serif;
  }
  .datePicker{
    height: 3rem;
    border-radius: 8px;
    border:none;  
    margin: .2rem;
    font-family: 'Varela Round', sans-serif;
  }

  .addButton {
    width: 3rem;
    height: 3rem;
    background-color: #93c572;
    border-radius: 10px;
    text-align: center;
    /* display:flex; */
    /* align-items: center;
    justify-content: center; */
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    font-weight:500;
    margin: .2rem;
    color: white;
    border:none;
  }

  .addButton:hover{
    cursor: pointer;
  }

  .shelfOne {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  
   
  }


  .itemShelfItems{
    width: 340px;
    height: 130px;
    background-color: #e9e6dd;
    border-radius: 20px;
  }

  .itemShelfTwo {
    width: 340px;
    height: 130px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .itemShelfThree {
    width: 340px;
    height: 130px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }


  .bottomMenu {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin: 2rem;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  }

  .homeButton {
    width: 70px;
    height: 70px;
    background-color: #47579d;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-size: 35px;

  }
  .recipeButton {
    width: 70px;
    height: 70px;
    background-color:  #47579d;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-size: 35px;
   
  }
  .profileButton {
    width: 70px;
    height: 70px;
    background-color:  #47579d;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-size: 35px;
 
  }

  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:33% 33% 33%;   
    grid-gap: 0.5rem;
    grid-row-gap: 3.5rem;
    justify-content: space-evenly;
    margin-top: 15px;
  }

  .grid-item-card{
    font-size: 15px;
    z-index: 1; 
    position: relative; 
  }

  .expires-in-colour {
    color:red;
    font-size: 20px;
  }
  
  .expire{
    font-size: 20px;
    font-family: 'Courgette', sans-serif;
    color: black;
    margin: -8px 0;
    padding: 40px;
    z-index: 1;
    
  }

  .expire,
  .trashButton {
    display: none; /* Hide by default */
    position: absolute; /* Position it absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center it perfectly */
    text-align: center; /* Center the text horizontally */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 15px;
  }
  

  .trashButton {
    cursor: pointer;
    z-index: 2;
    margin-top: 45px;
  }

  .emoji {
    font-size: 65px;
    margin: 0px;
  }

  .text {
    font-size: 25px;
    font-family: 'Courgette', sans-serif;
  }

  .card-content {
    position: relative; /* Make sure it's a positioned element for child absolute positioning */
  }
  
  .grid-item-card:hover .expire,
  .grid-item-card:hover .trashButton {
    display: block; /* Show on hover */
  }

  .textInputField {
    padding-left: 10px;
  }