@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.thymeLogo {
    margin: 25px;
    margin-top: 50px;
    font-family: 'AlphaFridgeMagnets';
    font-size: 45px;
}
  .doorBack {
    position: relative;
    background:#6171b7;
    width: 300px;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
    outline: 10px solid #5867a8;
  }

  .registerForm {
    margin: 0px;
    display:flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 45px;
  }

  .registerTitle {
    margin-top: 100px;
    font-size: 25px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #c9033f;
    text-shadow: 2px 2px #410011;
  }
  
  .fridgeRegisterHandle {
    display: inline-block;
    position: absolute;
    margin-left: 235px;
    margin-bottom: 150px;
    z-index: 1;
  }

  .registrationtextInputField {
    padding-left: 15px;
    font-weight: bold;
  }
  
  .passwordStrength {
    display: flex;
    justify-content: center;
  }
.fridgeShelves {
    display:flex;
    flex-direction: column;
    align-items: center;
}

  .shelfOne {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  }

  .registerInput {
    height: 40px;
    width: 75%;
    border-radius: 10px;
    margin: 12px;
    padding-left:10px;

  }

  .eye {
  position: relative;
  cursor: pointer;
}

.eye1 {
  position: relative;
  cursor: pointer;
  color:#6171b7;
}

  .registrationButton {
    font-family: AlphaFridgeMagnets;
    font-size: 30px;
    color: orange;
    margin: 0px;
    margin-top: 20px;

  }

  .password-strength-meter {
    font-size: 14px;
    margin: 5px;
    height: 10px;
    justify-content: center;
  }

  .password-strength-meter-label {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

  }

 .buttonMenu {
  display: flex;
  flex-direction: column;
 }

 .oops {
  font-family: 'Tealand';
 }