.doorBack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logOutTitle {
    margin: 50px;
    font-size: 32px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #e9e6dd;
    letter-spacing: 7px; 
    line-height: 30px;
  }
  .logInBox{
    display: flex;
  }

  .logInButton {
    margin-bottom:20px;
    width: 150px;
    height: 40px;
    background-color:  #47579d;
    border-radius: 10px;
    font-family: 'AlphaFridgeMagnets';
    font-size: 25px;
    cursor: pointer;
  }

  .logInButton:hover {
    background-color: white;
  }