@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

  .profileBackground {
    position: relative;
    background:#6171b7;
    width: 390px;
    height: 844px;
    border-radius: 20px;
    overflow: hidden;
    outline: 10px solid #5867a8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profileTitle {
    margin: 15px;
    font-size: 32px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #e9e6dd;
  }

.fridgeShelves {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;  
}

  .shelfOne {
    width: 320px;
    height: 200px;
    background-color: #e9e6dd;
    border-radius: 20px;
  }

  .bottomNavBarProfile {
    position: absolute; /* Set position to absolute */
    bottom: 0; /* Position it at the bottom of profileBackground */
    width: 320px; /* Full width */
    background-color: #374ba6;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    padding: 15px; /* Add padding for better appearance */
    margin-bottom: 20px;
  }
 
  .homeIcon {
    display:flex;
  }

  .savedRecipesContainer {
    margin-top: 20px;
    margin-bottom:40px;
    
  }

  .expiringTitle {
    font-size: 20px;
  }