@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

  .door-back {
    position: relative;
    background:#6171b7;
    width: 390px;
    height: 844px;
    border-radius: 20px;
    overflow: hidden;
    outline: 10px solid #5867a8;
  }

  .profileTitle {
    margin: 15px;
    font-size: 32px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #e9e6dd;
  }

.fridgeShelves {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0.5rem;
  justify-content: space-evenly;
}

  .shelfOne {
    width: 320px;
    height: 200px;
    background-color: #e9e6dd;
    border-radius: 20px;
  }

  .bottomNavBarProfile {
    width: 320px;
    height: 100px;
    background-color: #374ba6;
    color:white;
    border-radius: 20px;
    display: flex;
    margin-bottom: 75px;
    margin-left: 35px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 50px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
  }

  .homeIcon {
    display:flex;
  }

  .savedRecipesContainer {
    margin-top: 20px;
  }
