
$bg: #fff;
$text: white;
$light-pink: #6060d9;
$pink: #392eb5;
$dark-pink: #2f3972;
$pink-border: #2d4280;
$pink-shadow: #474667;



.loginTitle {
  margin-top: 100px;
  font-size: 25px;
  font-family: 'AlphaFridgeMagnets';
  font-weight:500;
  color: #f06000;
  text-shadow: 2px 2px #7c2700;
}

  .loginInput {
    height: 40px;
    width: 75%;
    border-radius: 10px;
    margin: 12px;
    padding-left:10px;

  }

  .backLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background:#6171b7;
    width: 300px;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
    outline: 10px solid #5867a8;
  }

  .buttonMenu {
    align-items: center;
  }

  .fridgeLogInHandle {
    display: inline-block;
    position: absolute;
    margin-left: 235px;
    margin-bottom: 150px;
  }

  .logInButton{
    font-size: 15px;
    padding-bottom: 5px;
  }