@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$bg: #fff;
$text: #382b22;
$light-pink: #6060d9;
$pink: #392eb5;
$dark-pink: #2f3972;
$pink-border: #2d4280;
$pink-shadow: #474667;

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('./images/background.jpg');
  }

  .door {
    position: relative;
    width: 390px;
    height: 844px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transform: perspective(2500px);
   
  }
  .door-front {
    width: 390px;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: 30px 0 50px rgba(0,0,0,0.2);
    position: absolute;
    background-color: #6171b7;
    z-index:1;
    transition: .5s;
  }
  
  .door-front:before, .door-front:after {
    content:"";
    position: absolute;
    background-color: #6171b7;
    width: 390px;
    height: 844px;
    border-radius: 20px;
 
  }
  
  .door-front:before {
    top:844px;
  }
  
  .door-front:after {
    top:844px;
    
  }

  .fridgeTitleBack {
    height: 75px;
 
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #e9e6dd;
  }
  
  .logOutBox {
    display: flex;
    justify-content: center;
  }
  
 
.logOutButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: "AlphaFridgeMagnets";
  margin-bottom: 20px;
  &.logOutButton {
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 0.75em 1em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}

  .fridgeMagnets {
    margin-left: 150px;
    margin-top: 20px;
  }

  .fridgeRow {
    position: relative;
  }

  .profilePic {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
  }

  .profilePicButton{
    font-family: 'AlphaFridgeMagnets';
    font-size: 25px;
    color:#D5C5E8;
    float: right;
  }

  .profilePicButton:hover{
    font-family: 'AlphaFridgeMagnets';
    color:lightpink;
    font-size:30px;
  }

 
  .note {
    float: left;
    text-align: center;
    
   
  }
  .notePic {
    rotate: 20deg;
    height: 200px;
    display: inline-block;
    position: relative;
    margin-top:20px;
  }

  .noteWriting {
    position: absolute;
    top: 500px;
    left:130px;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
  }

 .recipeTextButton{
    font-family: Permanent Marker;
    font-size: 16px;
    color:#d71d43;
  }

  .recipeEggs{
    font-family: Permanent Marker;
    font-size: 20px;
    text-decoration: line-through;
  }
  .recipeMilk{
    font-family: Permanent Marker;
    font-size: 20px;
    text-decoration: line-through;
  }

  .recipeTextButton:hover{
    font-family: Permanent Marker;
    color:lightskyblue;
  }

  .fridgeHandle {
    display: inline-block;
    position: absolute;
    margin-left: 100px;
  }

  .fridgeHandle:before {
    content:"";
    position: absolute;
  }

  .door-back {
    position: relative;
    background:#6171b7;
    width: 390px;
    height: 844px;
    border-radius: 20px;
    overflow: hidden;
    outline: 10px solid #5867a8;
  }

 
  .door:hover .door-front {
    transform: rotateY(-160deg); 
  }

  .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .ingredientsTitle {

    margin: 15px;
    font-size: 32px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #e9e6dd;
  }

.fridgeShelves {
    display:flex;
    flex-direction: column;
    align-items: center;
}

  .shelfOne {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  
   
  }
  .carrot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;

  }
  .carrot:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .cheese {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;
  }
  .cheese:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .milk {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 50px;
    width: 50px;
    object-fit: contain;
   
  }
  .milk:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .shelfTwo {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  .broccoli {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;
  }
  .broccoli:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .orangeJuice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 40px;
  }

  .orangeJuice:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .tomato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 50px;
    width: 70px;
    object-fit: contain;
   
  }
.tomato:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .recipeimage {
    width: 150px;
    height: 150px;
    transform: rotate(-10deg);
  }

  .bottomFridge{
    margin-left: 90px;
  }
  
  .shelfThree {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
  }

  .shelfFour {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
  }
 

 