@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: url(../Home/images/background.jpg);

  }

  .door {
    position: relative;
    width: 390px;
    height: 844px;
    border-radius: 20px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
   
  }
  .door-front {
    width: 390px;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: 30px 0 50px rgba(0,0,0,0.2);
    position: absolute;
    background-color: #6171b7;
    z-index:1;
    transition: .5s;
  }
  
  .door-front:before, .door-front:after {
    content:"";
    position: absolute;
    background-color: #6171b7;
    width: 390px;
    height: 844px;
    border-radius: 20px;
 
  }
  
  .door-front:before {
    top:844px;
  }
  
  .door-front:after {
    top:844px;
    
  }
  
  .logOutBox {
    display: flex;
    justify-content: center;
  }
  
  .logOutButton {
    margin-bottom:20px;
    width: 150px;
    height: 40px;
    background-color:  #47579d;
    border-radius: 10px;
    font-family: 'AlphaFridgeMagnets';
    font-size: 25px;
    cursor: pointer;
    
   
  }

  .logOutButton:hover{
    font-size: 40px;
    color:white;
    background-color:white;
  }

  .fridgeRow {
    position: relative;
  }

  .profilePic {
    margin-left: 160px;
    float: right;
  }
  .profilePicButton{
    font-family: 'AlphaFridgeMagnets';
    font-size: 25px;
    color:#D5C5E8;
    float:right;
    /* margin-left: 160px; */
  }

  .profilePicButton:hover{
    font-family: 'AlphaFridgeMagnets';
    font-size: 40px;
    color:lightpink;
    /* margin-left: 160px; */
  }

  /* .fridgeRow2 {
    display:flex;
    flex-direction: row-reverse;
  } */

  .note {
    float: left;
    text-align: center;
   
  }
 .recipeTextButton{
    font-family: Permanent Marker;
    font-size: 25px;
    position:relative;
    top: 55%;
    left: 22%;
    transform: translate(-50%, -50%);
    color:#d71d43;
  }

  .recipeEggs{
    font-family: Permanent Marker;
    font-size: 20px;
    top: 40%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-decoration: line-through;
  }
  .recipeMilk{
    font-family: Permanent Marker;
    font-size: 20px;
    transform: translate(-50%, -50%);
    text-decoration: line-through;
  }

  .recipeTextButton:hover{
    font-family: Permanent Marker;
    font-size: 40px;
    color:lightskyblue;
  }

  .fridgeHandle {
    display: inline-block;
    position: absolute;
    margin-left: 80px;
  }

  .fridgeHandle:before {
    /* display: inline-block; */
    content:"";
    position: absolute;


    /* margin-left: 50px; */
  }

  .fridgeHandle:after {
    visibility:hidden;
  }

  .fridgeMagnetsButton{
    font-family: 'AlphaFridgeMagnets';
    font-size: 30px;
    color: #F7D3BC;
  }

  .fridgeMagnetsButton:hover{
    font-family: 'AlphaFridgeMagnets';
    font-size: 40px;
    color:lightsalmon;
  }

  .door-back {
    position: relative;
    background:#6171b7;
    width: 390px;
    height: 844px;
    border-radius: 20px;
    overflow: hidden;
    outline: 10px solid #edf2f4;
  }
  
  /* .rack {
    position: absolute;
    width: 7px;
    height:150px;
    background-color: #a78a7f;
    top:90px;
    left:100px;
  }
  
  .rack:before {
    content:"";
    position: absolute;
    width:70px;
    height:10px;
    border-radius: 30px 30px 0 0;
    background-color: #8c1c13;
    top:150px;
    left:-30px;
  }
  
  .rack:after {
    position: absolute;
    content:"";
    width:30px;
    height: 30px;
    border-bottom: 5px solid #a78a7f;
    border-right: 5px solid #a78a7f;
    border-bottom-right-radius:100%;
    top:20px;
  } */
  
  

 
  .door:hover .door-front {
    transform: rotateY(-160deg); 
  }

  .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }






.iphoneContainer {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}
.iphoneIngredientsBackground  {
    width: 390px;
    height: 844px;
    background-color: #6171b7;
    border-radius: 20px;
 
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content:center;
    
  }
  .ingredientsTitle {
    width: 400px;
    height: 75px;
    margin-top: 40px;
    font-size: 32px;
    font-family: 'AlphaFridgeMagnets';
    font-weight:500;
    color: #e9e6dd;
  }

.fridgeShelves {
    display:flex;
    flex-direction: column;
    align-items: center;

}
  .shelfOne {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  
   
  }
  .carrot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;

  }

  .cheese {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;
  }

  .milk {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 50px;
    width: 50px;
    object-fit: contain;
   
  }


  .shelfTwo {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  .broccoli {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 75px;
    width: 75px;

  }

  .orangeJuice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 40px;
  }

  .tomato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 50px;
    width: 70px;
    object-fit: contain;
   
  }

  .shelfThree {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
  }

  .shelfFour {
    width: 320px;
    height: 100px;
    background-color: #e9e6dd;
    border-radius: 20px;
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
  }
 

 