@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.complete{
    text-decoration: line-through;
    text-decoration-color: navy;
  
}
.item{
      display:flex;
      justify-content: center;
      align-items: center;
      color:white;
      font-family: Permanent Marker;
   
}  
p{
    font-family: cursive;
}