@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.recipeFinderBackground {
  position: relative;
  background:#6171b7;
  width: 300px;
  height: 650px;
  border-radius: 20px;
  overflow: hidden;
  outline: 10px solid #5867a8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .logOutBox {
    display: flex;
    justify-content: center;
    width: 250px;
  }

  .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .recipeFinderTitle {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 40px;
    font-family: 'Valoon';
    font-weight:500;
    color: #8b32de;
    text-shadow: 2px 2px #3f0052;
  }

  .recipeTitle {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 32px;
    font-family: 'Valoon';
    font-weight:500;
    color: #e9e6dd;
    text-shadow: 2px 2px #030303;
  }

  .shoppingInput {
    margin: 15px;
  }

.fridgeShelves {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.enterIngredients{
  padding:10px;
  margin-bottom: 5px;
  width: 80%;
  border-radius: 10px;
}

.enterIngredientsButton{
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-family: "AlphaFridgeMagnets";
  color:white;
  background-color:#8b32de;
}

.enterIngredientsButton:hover{
  border-radius: 10px;
  color: #8b32de;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  font-family: "AlphaFridgeMagnets";
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

  a { 
    color:white;
  }

.recipeFinderInfo{
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Tealand';
  padding-bottom: 3px;
}

.recipeBox{
    display:flex;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1; 

}

ul {
    padding: 0px;
    margin-top:0;
    margin-bottom: 0;
}
 

.saveRecipeButton {
  appearance: button;
  backface-visibility: hidden;
  background-color:#8b32de;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 25px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  align-items: center;
  color: white;
  text-decoration: none;
}

.saveRecipeButton:hover {
  color:#8b32de;
  background-color:white;
  text-decoration: none;
  }

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;

}
li:link {
  color: red;
}

/* visited link */
li:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
li:active {
  color: blue;
}

.recipe-container {
  display: flex;
  flex-direction: column;
}

.saveRecipeButton:disabled {
  cursor: default;
}

.saveRecipeButton:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
 
