ul {
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:25% 25% 25% 25%;   
    grid-gap: 0.5rem;
    justify-content: space-evenly;
    padding:2rem;
  }

  .grid-item-card {
    padding: 20px;
    font-size: 8px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #eeeeee;
  }

span.expires-in-colour[data-status="today"] {
    color:red
}

span.expires-in-colour[data-status="tomorrow"] {
    color:orange
}

span.expires-in-colour[data-status="expired"] {
    color:brown
}

span.expires-in-colour[data-status*="day(s)"] {
    color: limegreen
}