ul {
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:33% 33% 33%;   
    grid-gap: 0.5rem;
    justify-content: space-evenly;
  }

  .grid-item-card {
    padding: 0.25rem;
    font-size: 8px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #eeeeee;
  }

  .grid-item-card textarea {
    width:75%;
    font-size:8px;
    border-radius:4px
  }

  .grid-item-card button {
    border:none;
    border-radius:4px
  }

span.expires-in-colour[data-status="today"] {
    color:red
}

span.expires-in-colour[data-status="tomorrow"] {
    color:orange
}

span.expires-in-colour[data-status="expired"] {
    color:brown
}

span.expires-in-colour[data-status*="day(s)"] {
    color: limegreen
}