.App {
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-image: url('../src/pages/Home/images/background.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "AlphaFridgeMagnets";
  src: local("AlphaFridgeMagnets"), url('./fonts/AlphaFridgeMagnets.ttf') format('truetype');
}

@font-face {
  font-family: "Tealand";
  src: local("Tealand"), url('./fonts/Tealand.ttf') format('truetype');
}

@font-face {
  font-family: "ButterCookie";
  src: local("ButterCookie"), url('./fonts/ButterCookie-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Valoon";
  src: local("Valoon"), url('./fonts/Valoon.ttf') format('truetype');
}


